body {
    padding: 0px;
    margin: 0px;
}

#navbar {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: #333;
        position: fixed;
        overflow: hidden;
}
#toplist {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #111;
  }

body {
    background: linear-gradient(45deg,#696969,#ffffff);
    font-family: "monospace, Arial, Helvetica, sans-serif;"
}

div {
    width: 500px;
    margin: 5em auto;
    padding: 50px; 
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
img {
    display: block;
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
    margin: 5em auto;
}
hr  {
    background-color: rgba(202, 6, 6, 0.486);
    height: 3px;
    width: 50%;
}
footer {
    color: whitesmoke;
    background-color: rgba(22, 1, 1, 0.486);
    padding: 15px 10px 30px;
    margin: 0px;
}